
*.exe
*.o
IF669_IP/C_template.c
IF669_IP/Treino/C_template.c
*.json
PET Visão Computacional/Códigos/imagens/otto.jpg
*.pdf
*.lnk
PET Visão Computacional/Códigos/imagens/otto2.png
PET Visão Computacional/Códigos/imagens/enio.jpg
